.body {
    display: flex;
    /* justify-content: flex-start; */
    flex-direction: row;
}

.words {
    display: flex;
    flex-direction: column;
}

.title {
    padding-top: 30px;
    font-size: 35px;
}

.text {
    font-size: 20px;
}