/* colour palette */

/* light cream : #e2e2de
dark cream : #d2d3cc
white : #ffffff
dark grey: #303849
investec navy: #353f59
black: #000000
eggshell/lightblue: #e5ebed */

.bg {
  height: 100vh;
  background-color: #e2e2de;
}

